*{
    box-sizing: border-box;
}
body { 
   font-family: 'Montserrat', sans-serif; }
p{
    font-size: 22px;
}
main.content{
    background-image: url(../img/relaxation-686392.jpg);    
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
#start-content{
    position: absolute;
    color: white;
    width: 50%;
    top:20%;
    padding:10px;
    text-align: center;    
}

#carousel{
        position:absolute;
        top:25%;
        left:55%;
        width: 40%;
        border: 5px solid white;
        border-radius: 5px;
}
.window{
    position: absolute;
    top: 18%;
    left: 15%;
    right: 15%;
    background-size: cover;
    height: 65%;
    border: 4px solid white;
    border-radius: 5px;
    
    }

#relaksacyjny{
     background-image: url(../img/relaxation-3065579.jpg);
     display: none;
}
#leczniczy{
    background-image: url(../img/massage-2768833.jpg);
    display: none;
}
#omnie{
    background-image: url(../img/wellness-1021131_1280.jpg);
    display: none;
}
#cennik{
    background-image: url(../img/relaxation-3065579.jpg);
     display: none;
}
#kontakt{
   background-image: url(../img/imgcar/wellness-285587_640.jpg);
     display: none;
}
.inner{
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    color:white; 
    text-align: center;
    padding: 20px;  
    font-size: 20px;
    overflow: auto;
}



.right {
    position:relative;
    width: 50%;
    justify-content: center;
    padding: 20px;
    left:50%;
    text-align: justify;
    color: white;
}

.left img{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin: 5%;    
    border: 3px black;
    border-radius: 5px;
    padding 10px;
    
}

#main-nav {
    background: rgba(0, 0, 0, 0.2);   
}
a#link-menu{
    color:#fff;
    font-size: 20px;
}
a#link-menu:hover{
    color: rgba(255, 255, 255, 0.4);
}
header #main-nav a.navbar-brand{
    color:#fff;
    font-size: 35px;
}
.right {
    position:relative;
    width: 50%;
    justify-content: center;
    padding: 20px;
    left:50%;
    text-align: justify;
    color: white;
}

.mapa{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1%;    
}

.contact{
    position: absolute;
    width:50%;
    left:50%;
    color: black;
}
input, textarea{
    width:80%;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    font-size: 15px;
}
iframe{
    border-radius: 5px;
}
.bottom {
    position: absolute;
    bottom: 50px;
    width: 100%;
    font-size: 20px;
    color: white;
    background: rgba(0,0, 0, 0.2);
}
.social-icons{
    position: absolute;
    text-align: left;
    text-align: center;
    letter-spacing: 25px;
    width:30%;
    bottom: 8px;    
}


.adres p{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    bottom: 5px;
    left: 30%;
}