form {
    background-color: #213b50;
    color:white;
    width:400px;
    height:900px;
    padding:20px;
    
}
form input,form select{
    margin-bottom: 10px;
}
form label{
    display: block;
    margin-bottom: 5px;
}
form select, form input[type="text"]form input[type="tel"]form input[type="mail"]{
width 300px;
background-color: #2b4a64;
color: #fff;
border: #2b4a64 1px solid;
heigh:25px;
}

form textarea{
    line-height: normal;
}
form select:focus, form input:focus, form textarea:focus{
    background-color: #4e708c;
    border:#fff 1px solid;
    outline: none;
}
form input[type="submit"] {
    background-color: #1ac056;
    border: #2b4a64; 1px solid;
    color: #fff;
    text-transform: uppercase;
    padding:10px 20px;
        font-weight: 800px;
    cursor:pointer;
    
}
forminput[type="submit"]:hover{
    background-color: aquamarine;
}