@media screen and (max-width: 991px) {
header{
width: 100%;
height: 50%;
background-image: url(../obrazy/man-2.jpg);
background-size: cover;
background-repeat: no-repeat; 

        }
        
}
@media screen and (min-width: 992px) and (max-width: 1169px) {
header{
background-image: url(../obrazy/man-2.jpg);
background-size: cover;
background-repeat: no-repeat;
        }
} 

@media screen and (min-width: 1170px) {

header{
background-image: url(../obrazy/man-1.jpg);
background-size: cover;
background-repeat: no-repeat; 
        }
}

