
nav{
    background-color: royalblue
}
div.container-first{
    background-color: red;
    height: 500px;
}
div.container-second{
    background-color: aqua;
    height: 500px;
}

.item{
/*    height: 200px;*/
    background-color: yellow;
}
.item:nth-child(even){
    background-color: rosybrown;
}

